# 1. ABRIR, EDITAR E EXPORTAR ARQUIVO

In [102]:
#IMPORTA A BIBLIOTECA PANDAS E CARREGA O ARQUIVO
import pandas as pd
import locale
#CARREGA OS DADOS DE PRODUÇÃO DO ANO DE 2016
dado = pd.read_excel("../data/Boletim_1/Anexo_G-Producao_nacional_de_OLAC.xlsx", sheetname="71-Producao OLAC Geral")
locale.setlocale(locale.LC_ALL, 'portuguese_brazil')
pd.set_option('display.float_format', lambda x: locale.format('%.2f', x, grouping=True))

In [104]:
#PREVIA DOS DADOS
dado.head()

,Data,Código do Produto,Descrição do Produto,Região do Produtor,UF do Produtor,Descrição da Operação,Volume-Litros
0,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,NORDESTE,BA,PRODUÇÃO POR MISTURA,58045
1,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Produção por Mistura,121440
2,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Mistura de Produtos,620
3,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUL,PR,Produção por Mistura,8804
4,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,RJ,Produção por Mistura,3927364

In [105]:
#FILTRA AS COLUNAS DE INTERESSE
dado = dado[['Data', 'Descrição do Produto','Região do Produtor', 'UF do Produtor', 'Volume-Litros']]

In [106]:
#RENOMEIA AS COLUNAS
dado.columns = ['data','category','region','uf','volume']

In [107]:
#PRÉVIA DO DATAFRAME MODIFICADO
dado.head()

      data                              category    region  uf   volume
0  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS  NORDESTE  BA    58045
1  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG   121440
2  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG      620
3  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS       SUL  PR     8804
4  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  RJ  3927364

In [8]:
#EXPORTA O ARQUIVO PARA CSV
dado.to_csv("../data/producao_olac_litros.csv", sep=',', index=False)

In [108]:
#MODIFICAR A COLUNA PARA METROS CÚBICOS EM DECORRÊNCIA DO FEEDBACK RECEBIDO
dado.volume = dado.volume.apply(lambda x: x/1000)

In [109]:
dado.head()

      data                              category    region  uf   volume
0  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS  NORDESTE  BA    58,05
1  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG   121,44
2  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG     0,62
3  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS       SUL  PR     8,80
4  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  RJ 3.927,36

In [110]:
dado['volume']

0         58,05
1        121,44
2          0,62
3          8,80
4      3.927,36
5        647,03
6         90,89
7          0,61
8        581,08
9        121,07
10       929,00
11        65,38
12        97,98
13        36,81
14         0,16
15        68,99
16         0,01
17     2.368,11
18       290,89
19       167,07
20       103,54
21     1.110,26
22       158,05
23        58,78
24       506,99
25     4.285,16
26         6,71
27       102,74
28       478,04
29    32.438,98
         ...
967       31,63
968        0,98
969    1.037,34
970       64,81
971        3,12
972        0,06
973       75,68
974        7,76
975       44,78
976       55,91
977        9,99
978    4.851,55
979    2.604,70
980      217,74
981   16.359,11
982    2.558,74
983       48,60
984    1.834,59
985      236,11
986    2.236,59
987    1.042,72
988       14,94
989       15,10
990      138,68
991    4.293,31
992      606,09
993      109,40
994      262,21
995    8.750,73
996    3.121,01
Name: volume, Length: 997, dtype: float64

In [94]:
#EXPORTA NOVO ARQUIVO PARA CSV
dado.to_csv("../data/producao_olac_M3.csv", sep=',', index=False)

# 2. ANÁLISE EXPLORATÓRIA

In [95]:
#CARREGA PLANILHA COM DADOS DAS UNIDADES PRODUTORAS DE ÓLEO LUBRIFICANTE ACABADO (OLAC)
produtores = pd.read_excel("../data/Boletim_1/Anexo_E.xlsx", sheetname="30-Mapa_Planta_Prod_OLAC")
produtores.head()

             CNPJ                            Produtor        Município  UF
0  57941890000153   AGECOM PRODUTOS DE PETRÓLEO LTDA.             MAUA  SP
1   3439153000128             BIOLUB QUÍMICA LTDA -ME         SOROCABA  SP
2  33194978000190                 CASTROL BRASIL LTDA   RIO DE JANEIRO  RJ
3  45036670000104      CHEMLUB PRODUTOS QUÍMICOS LTDA         VALINHOS  SP
4   5524572001084  CHEVRON BRASIL LUBRIFICANTES LTDA.  DUQUE DE CAXIAS  RJ

In [96]:
#NÚMERO DE PLANTAS DE PRODUÇÃO COM AUTORIZAÇÃO PARA PRODUZIR OLAC NO ANO DE 2016
len(produtores['CNPJ'].unique().tolist())

64

In [97]:
#NÚMERO DE PLANTAS DE PRODUÇÃO COM AUTORIZAÇÃO PARA PRODUZIR OLAC POR UNIDADE DA FEDERAÇÃO
produtores.groupby(['UF']).count()['CNPJ']

UF
AM     1
BA     1
MG     4
MT     1
PR     4
RJ    11
RS     1
SP    41
Name: CNPJ, dtype: int64

In [98]:
#AO TODO 12 UNIDADES DA FEDERAÇÃO POSSUEM REGISTRO DE PRODUÇÃO DE ÓLEO LUBRIFICANTE ACABADO (OLAC)
dado['uf'].unique(), len(dado['uf'].unique().tolist())

(array(['BA', 'MG', 'PR', 'RJ', 'RS', 'SP', 'AM', 'MS', 'MT', 'PA', 'CE',
        'GO'], dtype=object), 12)

In [99]:
#VOLUME DE PRODUÇÃO DE OLAC - EM METROS CÚBICOS - POR UNIDADE DA FEDERAÇÃO
producao_uf = dado.groupby(['uf']).sum().sort_values(by=['volume'],axis=0, ascending=False)
producao_uf

         volume
uf
RJ  1347768.383
SP   509508.127
MG   302977.640
PR    15394.916
BA     5572.009
RS     4904.314
AM     1530.939
MS     1507.397
CE      454.324
MT      400.468
GO       24.344
PA        0.400

In [100]:
#VOLUME TOTAL PRODUZIDO DE OLAC NO ANO DE 2016
total_volume = producao_uf['volume'].sum()
total_volume

2190043.260999999

In [101]:
#TRANSFORMA OS DADOS PARA UMA REPRESENTAÇÃO PERCENTUAL DE SUAS RESPECTIVAS PRODUÇÕES COMPARADAS AO TOTAL PRODUZIDO NO BRASIL
producao_uf['volume'] = producao_uf['volume'].apply(lambda x : str(round((x / total_volume*100),3))+" %" )

In [102]:
producao_uf.sort_values(by='volume', ascending=False)

      volume
uf
RJ  61.541 %
SP  23.265 %
MG  13.834 %
PR   0.703 %
BA   0.254 %
RS   0.224 %
AM    0.07 %
MS   0.069 %
CE   0.021 %
MT   0.018 %
GO   0.001 %
PA     0.0 %

In [103]:
#VOLUME TOTAL - EM METROS CÚBICOS - PRODUZIDO POR CATEGORIA DE APLICAÇÃO DE OLAC
producao_categoria = dado.groupby(['category']).sum().sort_values(by=['volume'],axis=0, ascending=False)
producao_categoria

                                          volume
category
Ciclo Otto                            623990.661
Outros Óleos Lubrificantes Acabados   504314.542
Ciclo Diesel                          475088.991
TRANSMISSÕES E SISTEMAS HIDRÁULICOS   424275.643
ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   68298.442
Óleos Lubrificantes Marítimos          46501.673
Óleos Lubrificantes Ferroviários       18938.206
Motores 2 tempos                       15085.096
Isolante Tipo A                        12307.494
Isolante Tipo B                         1242.273
Óleos Lubrificantes para Aviação           0.240

In [104]:
#TRANSFORMA OS DADOS PARA UMA REPRESENTAÇÃO PERCENTUAL DE SUAS RESPECTIVAS PRODUÇÕES COMPARADAS AO TOTAL PRODUZIDO NO BRASIL
producao_categoria['volume'] = producao_categoria['volume'].apply(lambda x : str(round((x / total_volume*100),3))+" %" )

In [105]:
producao_categoria

                                        volume
category
Ciclo Otto                            28.492 %
Outros Óleos Lubrificantes Acabados   23.028 %
Ciclo Diesel                          21.693 %
TRANSMISSÕES E SISTEMAS HIDRÁULICOS   19.373 %
ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   3.119 %
Óleos Lubrificantes Marítimos          2.123 %
Óleos Lubrificantes Ferroviários       0.865 %
Motores 2 tempos                       0.689 %
Isolante Tipo A                        0.562 %
Isolante Tipo B                        0.057 %
Óleos Lubrificantes para Aviação         0.0 %

In [106]:
dado.groupby(['category', 'uf']).sum()

                                             volume
category                             uf
Ciclo Diesel                         AM     554.780
                                     BA     941.796
                                     CE      97.872
                                     GO      12.210
                                     MG   68190.210
                                     MS     353.780
                                     MT      91.180
                                     PR    1839.542
                                     RJ  374377.812
                                     RS      39.678
                                     SP   28590.131
Ciclo Otto                           AM     469.143
                                     BA    2680.669
                                     CE     178.414
                                     GO       1.297
                                     MG   99975.894
                                     MS     897.973
                                     MT      99.144
                                     PA       0.400
                                     PR    5992.663
                                     RJ  459345.735
                                     RS      45.052
                                     SP   54304.277
ENGRENAGENS E SISTEMAS CIRCULATÓRIOS AM      17.500
                                     BA     488.611
                                     CE      42.976
                                     GO       0.609
                                     MG    2707.881
                                     MS      48.280
                                     MT       7.920
...                                             ...
Motores 2 tempos                     MG     347.239
                                     MS       4.100
                                     MT       2.068
                                     PR      98.250
                                     RJ   13785.005
                                     RS       7.591
                                     SP     818.886
Outros Óleos Lubrificantes Acabados  BA     106.570
                                     CE      26.561
                                     MG   46887.914
                                     MS     197.768
                                     MT     200.156
                                     PR    2088.363
                                     RJ   79531.980
                                     RS    1554.714
                                     SP  373720.516
TRANSMISSÕES E SISTEMAS HIDRÁULICOS  AM     475.440
                                     BA    1349.149
                                     CE     105.834
                                     GO       9.988
                                     MG   84808.246
                                     PR    5308.284
                                     RJ  298580.664
                                     RS     521.803
                                     SP   33116.235
Óleos Lubrificantes Ferroviários     RJ   18938.206
Óleos Lubrificantes Marítimos        MS       5.496
                                     RJ   42589.081
                                     SP    3907.096
Óleos Lubrificantes para Aviação     GO       0.240

[71 rows x 1 columns]